
<nav class="flex-column navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <div class="navbar-brand d-flex align-items-center">
            <span>Rick & Morty Wiki</span>
        </div>
        <NavLink class="nav-link text-white" href="https://github.com/Andex09/rickmortyblazor" target="_black">
            About
        </NavLink>
    </div>
</nav>

@code {

}
