
<section style="margin-bottom: 10px;">

    <div>
        <div class="input-group col-m-6">
            <input class="form-control"
                   value="@searchTerm"
                   placeholder="Search"
                   @oninput="(e)=> OnSearchChanged(e.Value.ToString())" />
        </div>
    </div>

</section>

@code {

    [Parameter]
    public EventCallback<string> SearchChanged { get; set; }

    private string searchTerm = "";

    private async Task OnSearchChanged(string value)
    {
        await SearchChanged.InvokeAsync(value);
    }

}


